*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

:root{
    scroll-behavior: smooth;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

main{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: 3.5rem auto;
}

