*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    line-height: 1;
}

:root{
    scroll-behavior: smooth;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

main{
    width: 90%;
    max-width: 1200px;
    margin: 3.5rem 4rem;
}

ol, ul, li {
    list-style: none;
}


/*Tablet*/
@media (min-width: 768px) {

    /* Menú */
    
    /*title*/
    
    /*Skills*/
    
    /*Hobbies*/
    
    /*Formación Académica*/
    
    /*Experiencia Profesional*/
    
    }


    /*Mobile*/
@media (min-width: 425px) {

    /*Menu*/
    
    /*Titulo*/
    
    /*Sección sobre mi*/
    
    /*Skills*/
    
    /*Hobbies*/
     
    /*Formación Académica*/
    
    /*Experiencia Profesional*/
    
     /*Contacto*/
    
    /*Footer*/
    
    }