.experience{
    margin: 1.5rem 0;
    padding: 0.025rem;
    border: 0.25rem solid rgb(255, 255, 255);
}

.experience__section__title{
    font-size: 3rem;
    font-weight: 100;
    text-decoration: solid;
    margin-bottom: 5rem;
}

.experiencie__box{

}

.experience__img{

}

.experience__info{

}

.experience__title{

}

.experience__text{

}

.experience__description{

}

.experience__repo{

}

.experiencia__botao--repo{

}

.experience__demo{

}

.experience__botao--demo{

}
