.academic{
    align-items: center;
}

.academic__title{
    font-size: 3rem;
    font-weight: 100;
    text-decoration: solid;
    margin-bottom: 5rem;
    justify-content: center;
}

.academic__courses{
    display: flex;
    justify-content: space-between;
}

.academic__courses__box{
    border-radius: 40px;
    height: 100%;
    padding: 25px 20px;
    width: 90%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    box-shadow: 15px 6px 69px -17px rgba(41,57,79,0.64);
    -webkit-box-shadow: 15px 6px 69px -17px rgba(41,57,79,0.64);
    -moz-box-shadow: 15px 6px 69px -17px rgba(41,57,79,0.64);
}

.academic__courses__list{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    gap: 1rem;
}

.academic__courses__item__img{
    list-style: none;
    width: 5rem;
    display: block;
    margin-bottom: 1.2rem;
    text-align: center;
}

.academic__courses__item__title{
    
}

.academic__courses__item__subtitle{

}

