.academic{
    align-items: center;
    border: 0.02rem solid #ffffff;
    background: rgb(253, 253, 253);
    flex-direction: column;
    margin-bottom: 5rem;
    margin-right: 5rem;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
    padding: 50px 0;
    width: 100%;
    height: auto;
    border: 1px solid #ffffff;
}

.academic__title{
    display: flex;
    font-size: 3rem;
    font-weight: 100;
    text-decoration: solid;
    margin-bottom: 5rem;
    justify-content: center;
}

.academic__courses{
    display: flex;
    justify-content: space-evenly;
}

.academic__courses__box{
    border-radius: 40px;
    height: 100%;
    padding: 25px 20px;
    width: 90%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    box-shadow: 15px 6px 69px -17px rgba(41,57,79,0.64);
    -webkit-box-shadow: 15px 6px 69px -17px rgba(41,57,79,0.64);
    -moz-box-shadow: 15px 6px 69px -17px rgba(41,57,79,0.64);
}

.academic__courses__list{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    gap: 1rem;
}

.academic__courses__item__img{
    display: inline-block;
    list-style: none;
    margin-top: 2rem;
    margin-left: 0;
    padding: 0.1rem;
    border: 0.25rem solid #ffffff;
    display: block;
    margin-bottom: 1.2rem;
    text-align: left;
}

.academic__courses__item__title{
    text-align: right;
}

.academic__courses__item__subtitle{
    text-align: right;
}

