.hobbies{
    background: rgb(253, 253, 253);
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
    margin-right: 5rem;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    padding: 50px 0;
    width: 100%;
    height: auto;
}

.hobbies__title{
    font-size: 3rem;
    font-weight: 100;
    text-decoration: solid;
    margin-bottom: 5rem;
}

.hobbies__line{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    gap: 1rem;
}

.hobbies__box{
    border-radius: 40px;
    height: 100%;
    padding: 25px 20px;
    width: 90%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    box-shadow: 15px 6px 69px -17px rgba(41,57,79,0.64);
    -webkit-box-shadow: 15px 6px 69px -17px rgba(41,57,79,0.64);
    -moz-box-shadow: 15px 6px 69px -17px rgba(41,57,79,0.64);
}

.hobbies__img{
    list-style: none;
    width: 5rem;
    display: block;
    margin-bottom: 1.2rem;
    text-align: center;
}

.hobbies__name{
    list-style: none;
    width: 15rem;
    display: block;
    text-align: center;
}
