.skills{
    background: rgb(253, 253, 253);
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
    margin-right: 5rem;
}

.skills__title{
    font-size: 3rem;
    font-weight: 100;
    text-decoration: solid;
    margin-bottom: 5rem;
}

.skills__line{
    display: flex;
    justify-content: space-evenly;
}

.skills__box{
    font-size: 1.1875rem;
    line-height: 1.5;
    text-align: justify;
}

.skills__img{
    list-style: none;
    width: 5rem;
    display: block;
    margin-bottom: 1.2rem;
    text-align: center;
}

.skills__name{
    list-style: none;
    width: 15rem;
    display: block;
}